<h1>EDIT USER</h1>
<form action="/users?_method=PUT" method="POST">
<input type="text" name="first_name" placeholder="first name">
<input type="email" placeholder="email" name="email" required>
<input type="submit" value="create">
<button>SUBMIT</button>
</form>