<h1>Add a New Recipe</h1>

<form action="POST" action="/recipes">
<label for='title'>Title:</label>
<input name="title"></input>
<br>
<label for='veggie'>Is a veggie:</label>
<span>yes</span><input type='radio' name='veggie' value="true" checked>
<span>no</span><input type='radio' name='veggies' value="false">


<button>YUM!</button>
</form>