<h1>ADD'A PIRATE</h1>


<form method="POST" action="/pirates">

<label for="name">whats your pirate name?</label>
<input name="name"></input>
<br>
<label for="birthplace">where was the pirate born?</label>
<input name="birthplace"></input>
<br>
<label for="deathYear">what year did your pirate die?</label>
<input name="deathYear"></input>
<br>
<label for="base">whats your base?</label>
<input name="base"></input>
<br>
<label for="nickname">whats your nickname?</label>
<input name="nickname"></input>
<br>
<button>ADD ME TO THE COOL KIDS</button>
</form>
<a href="/">GO TO INDEX OF PIRATES</a>